.container {
  max-height: 75vh;
  padding: 100px 16px 52px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 16px;
  box-sizing: border-box;
  border: 1px solid transparent;
}

.borderOver {
  border-color: lightgreen;
}

.scrollbarList {
  position: relative;
  overflow: auto;
  composes: custom-scroll from global;
}

.items {
  width: 98%;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;  
  flex-direction: column;
  gap: 16px; 
}

.first {
  width: 97%;
  display: flex;
  flex-direction: column;
  margin: 0 0 16px;
  align-items: flex-end;
}

.last {
  width: 97%;
  display: flex;
  flex-direction: column;
  margin: 16px 0 0;
  align-items: flex-end;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 40px 0 0;
  gap: 40px;
}

.price {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;  
  align-items: center;
  gap: 8px;
}

.value {
  margin: 0;
  composes: text_type_digits-medium from global;
}

.icon {
  width: 36px;
  height: 36px;
}

.icon svg {
  width: 100%;
  height: auto;
}

.addItem {
  margin: 10px 0;
  padding: 40px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #7B61FF;
  composes: text_type_main-large from global;  
  text-align: center;
}