.feed {
  display: flex;
  flex-direction: column;
  min-width: 1240px;
  margin: 0 auto;
}

.title {
  margin: 40px 0 20px;
  padding: 0;
  composes: text_type_main-large from global;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.orders {
  margin: 0;
  padding: 0 8px 0 0;
  display: flex;
  flex-direction: column;
  width: 584px;
  gap: 24px;
  composes: custom-scroll from global;
  max-height: 65vh;
  overflow: auto;
  scrollbar-gutter: stable;
}

.link {
  text-decoration-line: none;
}