.item {
    width: 272px;
    height: 208px; 
    display: flex;
    flex-direction: column;
    align-items: center;  
    gap: 4px;
    position: relative;
    cursor: pointer;
    color: #F2F2F3;
}

.image {
  width: 240px;
  height: 120px;   
}

.price {  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.value {  
  composes: text_type_digits-default from global;
}
  
.name {
  margin: 0;
  composes: text_type_main-default from global;  
  text-align: center;
}